/* *---NO NOTES PAGE---* */
.no-notes-page{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    row-gap: 0.5rem;
}
.no-notes_title{
    font-weight: var(--fw-bold);
    font-size: var(--fs-2xlg);
}
.no-notes_btn{
    padding : 0.7rem 0.8rem;
    font-size: var(--fs-norml);
}
/* *---SPLIT---* */
.split{
    display: flex;
    border: 1px solid red;
}
.gutter{
    background-color: hsl(var(--gray) / .5);
    cursor: col-resize;
}
/* *---SIDEBAR---* */
.sidebar-container{
    min-width: calc(25.4481% - 5px);
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sidebar-title{
    font-size: var(--fs-2xlg);
}
.sidebar-btn{
    padding: 0.2rem 0.7rem;
    font-size: var(--fs-lg);
}
/* ?-notes elements-? */
.note-elements_title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
}
.note-subtitle{
    font-size: 1rem;
}
.selected-note{
    background-color: hsl(var(--primary));
    color: hsl(var(--white));
}
.selected-note .trash-icon{
    color: hsl(var(--white));
}
.trash-icon{
    font-size: var(--fs-normal);
    color: hsl(var(--black));
    padding-right: 0.6rem;
    cursor: pointer;
}
/* *---EDITOR---* */
.editor-container{
    width: calc(68.512% - 5px);
}
.react-mde{
    padding-inline: 1rem;
}
.mde-header{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 0.7rem;
}
/* ?mde tabs? */
.mde-tabs{
    display: flex;
    padding-top: 2rem;
    column-gap: 1rem;
}
.mde-tabs > button{
    padding: 0.4rem 1rem;
}
/* ?mde group? */
.mde-header-group{
    display: flex;
    column-gap: 1rem;
}
.mde-header-item > button{
    background-color: hsl(var(--primary));
    width: 2.5rem;
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
}
.svg-icon{
    width: 1rem;
    height: 1rem;
}
/* ??mde text */
.mde-textarea-wrapper{
    overflow-x: auto;
}
.mde-text{
    border: 1px solid hsl(var(--gray) / .5);
    height: 200px;
    width: 30rem;
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
    overflow: auto;
}
.mde-text:focus{
    border: 1px solid hsl(var(--black) / .8);
    outline: none;
}

